* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	font-family: "微软雅黑";
	color: #14191e;
	background-color: #BEBEBE;
}

.main {
	width: 1200px;
	height: 460px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	overflow: hidden;
	position: relative;
}

.banner {
	height: 460px;
	width: 1200px;
	overflow: hidden;
	position: relative;
}

.banner-slide {
	height: 460px;
	width: 1200px;
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.slide1 {
	background-image: url(../img/bg1.jpg);
}

.slide2 {
	background-image: url(../img/bg2.jpg);
}

.slide3 {
	background-image: url(../img/bg3.jpg);
}

.slide_active {
	display: block;
}

.button {
	position: absolute;
	width: 40px;
	height: 80px;
	left: 244px;
	top: 50%;
	margin-top: -40px;
	background: url(../img/arrow.png) center center no-repeat;
}

.prev {
	transform: rotate(180deg);
}

.next {
	left: auto;
	right: 0;
}

.button:hover {
	background-color: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.dots {
	position: absolute;
	right: 0;
	bottom: 24px;
	text-align: right;
	right: 20px;
}

.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(7, 17, 27, 0.4);
	margin-left: 8px;
	line-height: 12px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
	cursor: pointer;
}

.dots span.active {
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background: #fff;
}

.menu-box{
	width: 244px;
	height: 460px;	
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(7,17,27,0.5);
	opacity:0.5;
	z-index:1;
	
}
.menu-contern{
	width: 244px;
	height: 454px;
	position: absolute;
	left: 0;
	top: 0;
	z-index:2;
	padding-top:6px;
}
.menu-item{
	height: 64px;
	line-height: 66px;
	font-size: 16px;
	padding:0 24px;
	position: relative;}
.menu-item a:link,.menu-item a:visited{
	color: #fff;
}
.menu-item a{
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding:0 8px;
	height:63px;
	text-decoration: none;
	}
	@font-face {
		font-family:"iconfont";
		src: url("../img/font/iconfont.eot");
		src: url("../img/font/iconfont.eot") format("embedded-opentype"),
			url("../img/font/iconfont.woff") format("woff"),
			url("../img/font/iconfont.tff") format("truetype"),
			 url("../img/font/iconfont.svg#iconfog") format("svg");
	}
.menu-item i{
	position:absolute;
	right:32px;
	font-size:32px;
	top:2px;
	font-family:"iconfont";
	font-style:normal;
	font-weight:normal;
	color: rgba(255,255,255,0.5);
}
.sub-menu{
	width:730px;
	height: 458px;
	border: 1px solid #d9dde1;
	background:#fff;
	position:absolute;
	left:244px;
	top:0;
	z-index:99;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.inner-box{
	width:100%;
	height: 100%;
	background: url(../img/fe.png) no-repeat;
	display: none;
}
.sub-inner-box{
	width: 652px;
	margin-left: 40px;
	overflow: hidden;
}
.tittle{
	color: #f01414;
	font-size: 16px;
	line-height: 16px;
	margin:28px 0 30px 0;
	font-weight:bold;	
	margin-bottom: 30px;
}
.bold{
	font-weight:bold;}
.mr10{
	margin-right:20px;
}
.ml10{
	margin-left: 20px;
}
a{
	text-decoration: none;
	color: #333;
}
.sub-row{
	margin-bottom:25px;
}
.hide{
	display: none;
}
